/* Margin et padding par defaut */

*{
    margin: 0 0;
    padding: 0 0; 
}

/* différente font utiliser */
.font-texte{

    font-family: 'Bellota', cursive; 
    /* font-family: 'Pacifico', cursive; */
}
.font-titre{
    font-family: 'Baloo Chettan 2', cursive;
}
.font-nav{
    font-family: 'Courgette', cursive;
    font-weight: 200;
}