*{
    margin: 0 0;
    padding: 0 0; 
}

body{
    background-color: rgb(243,222,203);
}

/* alignement barre-connexion barre-navigation */
.barre-connexion ul,.barre-navigation ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
/* fin */

/* Gestion du header */
.barre-connexion{
    background-color: white;
}
.barre-connexion ul{
    justify-content: flex-end;
    max-width: 1160px;
    margin: 0 auto;
}

.barre-connexion ul li{
    padding: 10px 15px;
    font-size: 1.2rem;
}



.barre-connexion ul a{
    text-decoration: none;
    height: 100%;
    color: black;
}

.bandeau-header{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(245, 213, 184);
}

.bandeau-header img {
    max-width: 800px;
}

.barre-navigation{
    background-color: rgb(245, 213, 184);
}
/* modif a revoir */
.barre-navigation ul{
    justify-content: center;
    margin: 0 auto;
    max-width: 1160px;
}
.barre-navigation ul a{
    font-size: 1.2rem;
    padding: 15px 40px;
    margin: 0 5px;
    border-bottom: 2px solid white;
    background-color: rgb(161, 121, 85);
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
    text-align: center;
}
.barre-navigation ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.barre-navigation ul a:nth-child(2n){ 
    font-size: 1.3rem;
    padding: 15px 25px;
    margin: 0 5px;
    border-bottom: 2px solid white;
    background-color: rgb(72, 55, 38);
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
}
/* fin modif */
/* fin */
