.concept{
    max-width: 773px;
    margin: 0 auto;
}
.concept h1{
    font-size: 2.5rem;
    text-align: center;
    margin: 30px 0;
}
.concept p{
    font-size: 1.2rem;
    margin: 10px 0;
}
.concept ul{
    padding: 0 20px;
}
.concept li{
    font-size: 1.2rem;
    padding: 10px 0;
}
.concept h3{
    font-size: 1.7rem;
    margin: 20px 0;
}

.strong{
    font-weight: bold;
}