.font-balloo-chettan{

    font-family: 'Bellota', cursive; 
    /* font-family: 'Pacifico', cursive; */
}
.font-balloo{
    font-family: 'Baloo Chettan 2', cursive;
}
.font-nav{
    font-family: 'Courgette', cursive;
    font-weight: 200;
}